<h1>Good news <%= @seller.firstname %>!</h1>
<p>
  <%= @bidder.fullname %> has made an offer on your book <i><%= @book.title %> for <%= @offer.amount %></i>.
</p><br>
<p>Checkout your dashboard and make sure to accept the offer if you would like to move further</p>
<p>Thanks for joining and have a great day!</p>
