<h1>Good news <%= @seller.firstname %>!</h1>
<p>
  <%= @bidder.fullname %> has made an offer on your book <i><%= @book.title %></i> for $<%= @offer.amount %>.00.
</p>
<p>Checkout your dashboard and make sure to accept the offer if you would like to contact them</p>
<p>Thanks for joining and have a great day!</p>
