<h1>Your wish has been granted.</h1>

<p>The following users have added <i><%= @need.title %></i></p>

<ul>
  <% @matches.each do |match| %>
    <li><%= match.title %> - <%= match.user.fullname %> |
      <% if match.price == 0 %>
        Make an offer
      <% else %>
        Price: $<%= match.price %>.00</li>
      <% end %>
  <% end %>
</ul>

