<% if @need.errors.any? %>
  <p> There were errors in your submission </p>
  <ul>
    <% @need.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<div class="col-md-12 center">
  <h1 class="page-title">New Wish</h1>
</div>

<div class='center'>
  <%= form_for @need do |f| %>
    <div class="col-xs-12">
      <%= f.text_field :title, placeholder: "Enter Book Title", class: "book-info" %>
    </div>

    <div class="col-xs-12">
      <%= f.submit "Add to Wishlist", class: "btn btn-primary", class: "book-info submit-btn" %>
    </div>
  <% end %>
</div>
