<h1>Users</h1>

<div class="row">
  <% @users.each do |u| %>
    <div class="col-md-3">
      <%=image_tag u.avatar.url(:thumb), class: "modal-book" %>
      <h3><%= u.username %></h3>
    </div>
  <% end %>
</div>
