<h1>Search Results</h1>

<br />

<% if @books.empty? %>

<p>No results found.</p>

<% else %>

<p><%= "#{@books.where(sold: "false").count} result(s) found." %></p>

<ul class="unstyled">
  <% @books.each do |book| %>
    <% if book.sold == false %>
      <li>
        <%= link_to book.title, book %>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>

<%= link_to 'Back', :back %>
