body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
}

.flash {
  background-color: rgba(22, 160, 133, 0.3);
  margin-top: 15px;
  color: black;
  font-weight: 300;
}

.bh-btn {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 40px;
  padding: 0;
  color: white;
  text-align: center;
  background: #3498db;
  border: 0;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.avatar {
  border-radius: 150px;
}

.tiny-avatar {
  border-radius: 150px;
  height: 25px;
  width: 25px;
}

.edit-avatar {
  height: 200px;
  width: 200px;
}

.address-input {
  width: 50%;
}

#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

.site-content {
  padding-top: 50px;
}

.center {
  text-align: center;
}

.thin {
  font-weight: 300 !important;
}

.red {
  color: #e74c3c;
}

.search {
  padding-left: 10px;
  height: 20%;
  width: 100%;
  font-size: 1.25em;
  font-weight: 100;
  outline: 0;
  margin-bottom: 10px;
  color: #1abc9c;
}

.search-form {
  width: 80%;
}

.message-input {
  height: 100px;
}

.amount-input {
  width: 50px;
  text-align: right;
}

/*********************** Footer **************************/
footer {
  margin-top: 100px;
  margin-bottom: -50px;
  bottom:0;
  height:100%;   /* Height of the footer */
  background: #2c3e50;
  border-bottom: 5px solid #2c3e50;
  color: white;
  font-weight: 100;
}

.footer-content {
  padding-top: 50px;
  padding-bottom: 50px;
  /*padding-left: 10%;*/
}

.address {
  line-height: 50%;
}

.trans {
  background-color: rgba(168,168,168,0.2);
  border: none;
  margin-bottom: 15px;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  color: white;
  font-weight: 100;
}

.trans:focus {
  outline: 1;
}

.trans::-webkit-input-placeholder {
  color: white;
}

.trans:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.trans::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

.trans:-ms-input-placeholder {
  color: white;
}

.area {
  height: 100px;
  width: 100%;
  resize: none;
}

.contact-submit {
  width: 25%;
  margin-left: 75%;
  height: 30px;
}

.prof-pic {
  height: 50px;
  border-radius: 150px;
  margin-right: 10px;
}

.line-break {
  color: grey;
}

.contact-icon {
  margin-right: 10px;
  padding-left: 2.5%;
  height: auto;
  width: auto;
}

.foot-link {
  color: white;
}

.foot-link:hover {
  text-decoration: none;
  color: #1abc9c;
}
/*********************** Text Format **************************/
.large {
  font-size: 3.5em;
  font-weight: 300;
}

.foot-heading {
  font-size: 2em;
  font-weight: 100;
}

.page-text {
  font-size: 2em;
  font-weight: 100;
  text-align: justify;
}

.devise-heading {
  font-size: 1.5em;
  font-weight: 100;
}

/*********************** Dashboard **************************/
.details {
  list-style: none;
  margin-bottom: 10px;
  cursor:pointer;
}

.book-image {
  height: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.wish-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dash-pic {
  border-radius: 150px;
  height: 100px;
}

.dash-name {
  font-size: 2em;
  font-weight: 300;
}

.profile-tab {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 15px rgba(168,168,168,0.5);
  padding-top: 10px;
  border-radius: 3px;
  margin-top: 10px;
}

.main-tab {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 15px rgba(168,168,168,0.5);
  border-radius: 3px;
  margin-top: 10px;
  padding-top: -10px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 15px;
}

.mini-tab {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 15px rgba(168,168,168,0.5);
  border-radius: 3px;
  margin-top: 15px;
  padding-top: -10px;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 10px;
}

.tab-header {
  padding: 5px 0 10px 0;
  color: white;
  margin-bottom: 10px;
}

.tab-header h3 {
  font-size: 2em;
  font-weight: 100;
}

.prof-info {
  margin-top: 10px;
}

.preview {
  margin-top: 10px;
  background: #61596e;
  color: white;
  font-weight: 300;
  border-radius: 0 0 5px 5px;
  margin-bottom: 15px;
}

.preview > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.btm-lft {
  border-radius: 0 0 0 3px;
}

.btm-rt {
  border-radius: 0 0 3px 0;
}

.menu-icon {
  height: 30px;
}

.menu-div {
  padding-top: 10px;
}

.wishlist-div {
  margin-bottom: 10px;
}

.dashboard-view {
  /*background-image: url('jmu.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  background: #ecf0f1;
}

.dashboard-pad {
  padding: 10px;
}

.user-head {
  padding-top: 10px;
  padding-bottom: 10px;
}

.explore {
  margin-top: 8px;
}

.wishlist-tab {
  padding: 10px 10px 15px 20px;
}

.wishlist-tab > .row {
  padding-left: 10px;
  padding-right: 10px;
}

.tab-space {
  margin-top: 20px;
}

.data-stat {
  margin-bottom: 10px;
}

.xs-border {
  border-radius: 3px 3px 0 0;
}

.tab-padding {
  padding-right: 15px !important;
}

.activity-img {
  margin: 0 5px 0 15px;
  height: 50px;
}

.line-break {
  border: 1px solid #ecf0f1;
  border-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.buy-badge {
  margin: 20px 15px 0 0;
  height: 8px;
  width: 8px;
  background: #2ecc71;
  border-radius: 100px;
}

.sold-badge {
  margin: 20px 15px 0 0;
  height: 8px;
  width: 8px;
  background: #e74c3c;
  border-radius: 100px;
}

.recent-act {
  margin-bottom: 10px;
}

.user-info {
  line-height: 100%;
  margin-top: 10px;
}

.user-name {
  font-size: .95em;
  color: #95a5a6;
}

.no-col-pad {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.menu-img {
  height: 34px;
  margin-top: 21px;
}

.modal-book {
  height: 200px;
}

.wish-book {
  height: 70px;
}
/*********************** Books **************************/
.page-title {
  font-weight: 100;
  font-size: 3.5em;
  color: #1abc9c;
}

/*********************** Modals **************************/
.modal-author {
  margin-top: -20px;
}

.modal-book-title {
  font-size: 2em;
}

/*********************** Video **************************/
.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px;
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
font-size:110px;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

.beep {
  margin-top: -5px;
}

/*********************** Navbar **************************/
.navbar-default {
  background: #1abc9c !important;
  height: 70px;
  padding-top: 10px;
  border-bottom: 5px solid #16a085 !important;
}
.navbar a,
.navbar-brand,
.navbar-text {
  color: white !important;
}

ul, li{
    list-style:none;
    list-style-type:none;
}

/*********************** Colors **************************/
.blue{
  background: #3498db;
}

.salmon {
  background: #eb614e;
}

.purple {
  background: #9b59b6;
}

.seafoam {
  background: #53bfa6;
}

.grey {
  background: #bdc3c7;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
   background-color: green;
   color: red !important;
 }
.navbar-collapse .in {
  background: black;
}

/*********************** Forms **************************/

.book-info {
  width: 100%;
  height: 40px;
  font-size: 1.25em;
  font-weight: 300;
  text-align: center;
}

.select-style {
  width: 100% !important;
}

.quality-input {
  width: 100% !important;
}

.submit-btn {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 40px;
  padding: 0;
  color: white;
  text-align: center;
  background: #3498db;
  border: 0;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 3px;
}

/*********************** media-queries **************************/
@media (min-width: 768px) {
  .hdr-pad-rt {
    padding-right: 0px !important;
  }

  .hdr-pad-lft {
    padding-left: 0px !important;
  }

  .mini-tab {
    margin-right: 0px;
  }

  .tab-padding {
    padding-right: 0px !important;
  }

  .tab-pad-left {
    padding-left: 30px !important;
  }
  .no-rt-pad {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .search {
    font-size: 2.5em;
  }

  .no-right-pad {
    padding-left: 0 !important;
  }

  .modal-book-title {
    font-size: 2.5em;
  }

  .book-info {
    width: 40%;
    font-weight: 100;
  }

  .page-title {
    font-size: 5em;
  }
}

@media (min-width: 992px) {
  .no-col-pad {
    padding-right: 0px !important;
    padding-left: 15px !important;
  }

  .book-info {
    font-size: 2em;
  }
}
